{# Message confirmation réinit MDP #}


<div id="message_deverouille">
  Votre mot de passe a été changé. Suivez ce lien pour retourner à l'accueil. 
  <br/>
  <a class="deverouillage" href="index.php?index=welcome">Retour à l'accueil</a>

</div>
